.calc{
  width: 320px;
  
  margin: 100px auto
}

.input{
  width: 257px;
  margin-top: 30px;
  padding: 20px;
  font-size: larger;
  text-align: right;
  background-color: antiquewhite;
}

.button{
  width: 75px;
  background-color: darkcyan;
  color: wheat;
  height: 75px;
  float: left;
  font-size: larger;
}

.button:hover{
  background-color:blue;
}

.btn{
  width: 150px;
}